@charset "utf-8";

$footer-padding: 0.75rem 1rem 0.75rem 1rem;
$modal-background-background-color: rgba(0, 0, 0, 0.5);;

@import "~bulma/bulma";

.login {
  margin: 2em auto 0 auto;
}

.footer {
  margin-top: 2em;
  background-color: lightgray;
}