@charset "utf-8";

$footer-padding: 0.75rem 1rem 0.75rem 1rem;
$modal-background-background-color: rgba(0, 0, 0, 0.5);;

$color01: red;
$color02: orange;
$color03: limegreen;
$color04: darkturquoise;
$color05: teal;
$color06: gray;
$color07: darkgray;
$color08: silver;
$color09: lightgray;
$color10: gainsboro;

@import "~bulma/bulma";

.navbar {
    .data-title {
        font-weight: bold;
    }

    .status {
        font-size: 80%;
    }

    .status::before {
        content: "[",
    }

    .status::after {
        content: "]",
    }
}

.login {
    margin: 2em auto 0 auto;
    max-width: 400px;
    text-align: center;

    h1 {
        font-size: 120%;
        font-weight: bold;
        border-bottom: solid 1px #777;
        margin: 0.5rem 0 1rem 0;
    }    
}

.data-selector {
    margin: 0.5rem 0 0.5rem 0;
}

.button.color-01 {
    border-color: $color01;
    color: $color01;
}

.button.color-01.is-active {
    background-color: $color01;
    color: white;
}

.button.color-02 {
    border-color: $color02;
    color: $color02;
}

.button.color-02.is-active {
    background-color: $color02;
    color: white;
}

.button.color-03 {
    border-color: $color03;
    color: $color03;
}

.button.color-03.is-active {
    background-color: $color03;
    color: white;
}

.button.color-04 {
    border-color: $color04;
    color: $color04;
}

.button.color-04.is-active {
    background-color: $color04;
    color: white;
}

.button.color-05 {
    border-color: $color05;
    color: $color05;
}

.button.color-05.is-active {
    background-color: $color05;
    color: white;
}

.button.color-06 {
    border-color: $color06;
    color: $color06;
}

.button.color-06.is-active {
    background-color: $color06;
    color: white;
}

.button.color-07 {
    border-color: $color07;
    color: $color07;
}

.button.color-07.is-active {
    background-color: $color07;
    color: white;
}

.button.color-08 {
    border-color: $color08;
    color: $color08;
}

.button.color-08.is-active {
    background-color: $color08;
    color: white;
}

.button.color-09 {
    border-color: $color09;
    color: $color09;
}

.button.color-09.is-active {
    background-color: $color09;
    color: white;
}

.button.color-10 {
    border-color: $color10;
    color: $color10;
}

.button.color-10.is-active {
    background-color: $color10;
    color: white;
}

.chart-wrapper {
    margin: 0.5rem auto 0.5rem auto;
    text-align: center;
}

@media (min-width: 768px) {
    .chart-wrapper {
        text-align: left;
    }
}

.spd-chart-wrapper, .dst-chart-wrapper {
    position: relative;
    .from-to-button {
        display: block;
        position: absolute;
        z-index: 10;
        right: 10px;
        top: 10px;
        width: 5em;
    }
    .zoom-button {
        display: block;
        position: absolute;
        z-index: 10;
        right: 10px;
        bottom: 10px;
        width: 3em;
    }
    .zoom-label {
        display: block;
        position: absolute;
        z-index: 10;
        right: calc(14px + 3em);
        bottom: 10px;
        text-align: right;
        color: #777;
    }
}

.chart {
    border: solid 1px #333;
}

.axis {
    stroke: #777;
}

.scale-circle {
    fill: transparent;
    stroke: #aaa;
}

.scale-box {
    fill: #eee;
}

.scale-line {
    stroke: #333;
    fill:transparent;
}

.scale-text {
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
    fill: #888;
}

.date-text {
    font-family: sans-serif;
    font-size: 14px;
    text-align: left;
    fill: #555;
}

.spd-color-scale {
    stroke-width: 5px;
}

.chart-line {
    stroke-width: 2px;
    fill: transparent;
}

.color-0 {
    stroke: black;
    fill: black;
}

.color-1 {
    stroke: $color01;
    fill: $color01;
}

.color-2 {
    stroke: $color02;
    fill: $color02;
}

.color-3 {
    stroke: $color03;
    fill: $color03;
}

.color-4 {
    stroke: $color04;
    fill: $color04;
}

.color-5 {
    stroke: $color05;
    fill: $color05;
}

.color-6 {
    stroke: $color06;
    fill: $color06;
}

.color-7 {
    stroke: $color07;
    fill: $color07
}

.color-8 {
    stroke: $color08;
    fill: $color08;
}

.color-9 {
    stroke: $color09;
    fill: $color09;
}

.color-10 {
    stroke: $color10;
    fill: $color10;
}

.field.chart-type-buttons {
    justify-content: center;
}

.data-table-wrapper {
    overflow-x: scroll;

    .data-table {
        margin-left: 0;
        margin-right: 0;
        width: max-content;

        thead {
            th {
                // position: -webkit-sticky;
                // position: sticky;
                // z-index: 2;
                background-color: $info-light;
                color: $info;
                vertical-align: bottom;
            }

            tr:first-child th {
                top: 0;
            }

            tr:nth-child(2) th {
                top: 40px;
            }

            th.sticky-col {
                z-index: 3;
            }
        }

        .sticky-col {
            position: -webkit-sticky;
            position: sticky;
            z-index: 1;
            left: 0;
            width: 4em;
        }

        .sticky-col:nth-child(2) {
            left: 4em;
        }

        .sticky-col:nth-child(3) {
            left: 8em;
        }

        .sticky-col:nth-child(4) {
            left: 12em;
        }

        th.sticky-col {
            background-color: $info;
            color: white;
        }

        td.sticky-col {
            background-color: $info-light;
            color: $info;
        }
    
        td {
            text-align: right;
        }

        .bg-color1 {
            background-color: $color01;
            color: white;
        }

        .bg-color2 {
            background-color: $color02;
            color: white;
        }

        .bg-color3 {
            background-color: $color03;
            color: white;
        }
        .bg-color4 {
            background-color: $color04;
            color: white;
        }
        .bg-color5 {
            background-color: $color05;
            color: white;
        }

        .bg-color6 {
            background-color: $color06;
            color: white;
        }
        .bg-color7 {
            background-color: $color07;
            color: white;
        }
        .bg-color8 {
            background-color: $color08;
            color: white;
        }
        .bg-color9 {
            background-color: $color09;
            color: white;
        }
        .bg-color10 {
            background-color: $color10;
            color: white;
        }

    }

    .charsize-S {
        font-size: 0.7em;
    }

    .charsize-M {
        font-size: 0.85em;
    }

    .charsize-L {
        font-size: 1em;
    }
}

.history-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1rem 1rem 0.5rem 1rem;
    border-bottom: dotted 1px #777;
}

.history-list {
    li {
        border: solid 1px #aaa;
        border-bottom-style: none;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        display: flex;
        justify-content: space-between;

        a {
            display: block;
            flex-grow: 10;
        }
    }

    li:hover {
        background-color: $link-light;
    }

    li:first-child {
        border-top-left-radius: 0.4rem;
        border-top-right-radius: 0.4rem;
    }
    
    li:last-child {
        border-bottom-left-radius: 0.4rem;
        border-bottom-right-radius: 0.4rem;
        border-bottom-style: solid;
    }
    
}

.direction-color-legend-wrapper {
    width: 300px;
    height: 300px;
    padding: 10px;

    .direction-color-legend {
        width: 280px;
        height: 250px;
    }

    .deg-label {
        font-family: sans-serif;
        font-size: 14px;
        text-align: center;
        fill: black;
    }
}

.container.setting {
    h2 {
        font-size: 1.3rem;
        font-weight: bold;
        border-bottom: solid 1px #777;
        margin-bottom: 1rem;
        margin-top: 1rem;
        padding-bottom: 0.3rem;
    }

    .card {
        margin-bottom: 0.5rem;
    }

    .button {
        width: 5rem;
    }

    .toggle-button.is-selected::before {
        content: "✔ ";
    }
}