const firebaseConfig = {
  apiKey: "YOUR_KEY",
  authDomain: "windview-311109.firebaseapp.com",
  projectId: "windview-311109",
  storageBucket: "windview-311109.appspot.com",
  messagingSenderId: "525761458401",
  appId: "1:525761458401:web:a1e79edb1a269faa2847a0"
};